body {
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: url(./tren.jpeg);
    height: 100vh;
    display: flex;
    justify-content: center;
}
.wrapper {
    background: white;
    max-width: 80%;
    margin: auto;
    border: 6px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
   


}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
   

}

button {
    border: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    margin: 20px;
    border-radius: 5px;
    border-color: solid black;
}

#increment-btn {
    background: skyblue;
}

#save-btn {
    background: lightseagreen;
}

p {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    color: black;
    display: flex;
    flex-direction: left;
    padding: 10px;
}

.totales {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: black;
    font-size: 30px;
    

}